################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Aurorita2018/v15/Server/sqlite3
/.vs/Aurorita2018/v15
/.vs/Aurorita2018ver/v15
/.vs
/Aurorita2018/obj/Release
