<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tyrex | Site</title>
    <meta name="description" content="GARO is a real-estate template">
    <meta name="author" content="Kimarotec">
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/fontello.css">
    <link href="assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icheck.min_all.css">
    <link rel="stylesheet" href="assets/css/price-range.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <link href="assets/datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">


</head>
<body>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->

    <div class="header-connect">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8  col-xs-12">
                    <div class="header-half header-call">
                        <p>
                            <span><i class="pe-7s-call"></i> + 1 305-590-8024</span>
                            <span><i class="pe-7s-mail"></i> info@tyrexrentacar.com</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                    <div class="header-half header-social">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vine"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End top header -->

    <nav class="navbar navbar-default ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse yamm" id="navigation">
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                        <a href="index.html" class="dropdown-toggle active" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Inicio </a>
                    </li>
                    <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" href="http://tyrexrentacar.com/">Tyrex</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.3s"><a class="" href="#">Servicios</a></li>
                    <li class="dropdown yamm-fw" data-wow-delay="0.4s">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Vehículos </a>
                    </li>

                    <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="contact-2.html">Contacto</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- End of nav bar -->

    <div class="slider-area">
        <div class="slider">
            <div id="bg-slider" class="owl-carousel owl-theme">

                <div class="item"><img src="assets/img/slide1/slider-image-1.jpg" alt="GTA V"></div>
                <div class="item"><img src="assets/img/slide1/slider-image-2.png" alt="The Last of us"></div>
                <div class="item"><img src="assets/img/slide1/slider-image-3.jpg" alt="GTA V"></div>

            </div>
        </div>
        <div class="slider-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <h2>Tyrex Rent a Car Latinoamerica</h2>
                    <p>Con el precio mas bajo, Pasea por toda Florida con nosotros, Reserva Ahora y disfrutás tu viaje.</p>
                    <div class="search-form wow pulse" data-wow-delay="0.9s">

                        <form action="mail/php/enviar.php" class=" form-inline" method="post">
                            <button class="btn  toggle-btn" type="button">
                                Cotiza Aqui...
                                <!-- <i class="fa fa-bars"></i> -->
                            </button>


                            <div style="display: none;" class="search-toggle">

                                <div class="search-row">

                                    <div class="form-group mar-r-20">
                                        <label for="price-range">Nombre :</label>
                                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre"><br />
                                    </div>
                                    <!-- End of  -->

                                    <div class="form-group mar-l-20">
                                        <div class="form-group mar-r-20">
                                            <label for="price-range">Apellido :</label>
                                            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido"><br />
                                        </div>
                                    </div>
                                    <!-- End of  -->
                                </div>

                                <div class="search-row">

                                    <div class="form-group mar-r-20">
                                        <label for="price-range">Teléfono :</label>
                                        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono"><br />
                                    </div>
                                    <!-- End of  -->

                                    <div class="form-group mar-l-20">
                                        <label for="price-range">Email :</label>
                                        <input type="text" class="form-control" id="mail" name="mail" placeholder="Email"><br />
                                    </div>
                                    <!-- End of  -->

                                </div>
                                <div class="search-row">

                                    <div class="form-group mar-r-20">
                                        <label for="price-range">Recoger en :</label>
                                        <select id="Pickuplocation" name="Pickuplocation" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="-- Select --">

                                            <option value="1">Miami Airport (MIA)</option>
                                            <option value="2">Ft. Lauderdale</option>
                                            <option value="3">Orlando Airport (MCO)</option>
                                            <option value="4">Miami Airport (Valet Parking)</option>
                                            <option value="5">Miami Hotel Area</option>

                                        </select><br />
                                    </div>
                                    <!-- End of  -->

                                    <div class="form-group mar-r-20">
                                        <label for="price-range">Devolver en :</label>
                                        <select id="Dropofflocation" name="Dropofflocation" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="-- Select --">

                                            <option value="1">Miami Airport (MIA)</option>
                                            <option value="2">Ft. Lauderdale</option>
                                            <option value="3">Orlando Airport (MCO)</option>
                                            <option value="4">Miami Airport (Valet Parking)</option>
                                            <option value="5">Miami Hotel Area</option>
                                        </select><br />
                                    </div>
                                    <!-- End of  -->

                                </div>
                                <div class="search-row">

                                    <div class="form-group mar-r-20">

                                        <label for="price-range">Desde :</label>

                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' id="Pickupdate" name="Pickupdate" class="form-control" readonly />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>

                                        <br />
                                    </div>
                                    <!-- End of  -->

                                    <div class="form-group mar-r-20">

                                        <label for="price-range">Hasta :</label>

                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker2'>
                                                <input type='text' id="Dropoffdate" name="Dropoffdate" class="form-control" readonly />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>






                                        <br />
                                    </div>
                                    <!-- End of  -->

                                </div>
                                <br>
                                <div class="search-row">

                                    <br>
                                    <hr>
                                </div>
                                <!-- <button class="btn search-btn prop-btm-sheaerch" type="submit"><i class="fa fa-search"></i></button>  -->
                                <button id="btncotizar" name="btncotizar" class="btn search-btn" type="submit">
                                    <!-- <i class="fa fa-search"></i> -->
                                    Cotizar
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- property area -->
    <div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                    <!-- /.feature title -->
                    <h2>Conoce Nuestra Flota de Autos</h2>
                    <p>Conoce nuestra gran variedad de autos, y consigue el que se adapte a tu necesidad. </p>
                </div>
            </div>

            <div class="row">
                <div class="proerty-th">
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html"><img src="assets/img/demo/vehicle1.jpg"></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-1.html">Toyota Corolla</a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Transmission :</b> Automatic </span>
                                <span class="proerty-price pull-right">$ 269,00 </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-2.html"><img src="assets/img/demo/vehicle2.jpg"></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-2.html">Mustang Convertible </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Transmission :</b> Automatic </span>
                                <span class="proerty-price pull-right">$ 490,00 </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="#"><img src="assets/img/demo/vehicle3.jpg"></a>

                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-3.html">Toyota Rav 4</a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Transmission :</b> Automatic </span>
                                <span class="proerty-price pull-right">$ 490,00 </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html"><img src="assets/img/demo/vehicle4.jpg"></a>

                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-1.html">Van 7 Pasajeros</a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Transmission :</b> Automatic </span>
                                <span class="proerty-price pull-right">$ 490,00 </span>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-3.html"><img src="assets/img/demo/vehicle5.jpg"></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-3.html">Citroen Sedan </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Transmission :</b> Automatic </span>
                                <span class="proerty-price pull-right">$ 490,00 </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-tree more-proerty text-center">
                            <div class="item-tree-icon">
                                <i class="fa fa-th"></i>
                            </div>
                            <div class="more-entry overflow">
                                <h5><a href="property-1.html">NO TE DECIDES ? </a></h5>
                                <h5 class="tree-sub-ttl">Mostrar Todos</h5>
                                <button class="btn border-btn more-black" value="All properties">Todos los Autos</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--Welcome area -->
    <!--TESTIMONIALS -->
    <div class="testimonial-area recent-property" style="background-color: #FCFCFC; padding-bottom: 15px;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                    <!-- /.feature title -->
                    <h2>Nuestros Clientes  </h2>
                </div>
            </div>

            <div class="row">
                <div class="row testimonial">
                    <div class="col-md-12">
                        <div id="testimonial-slider">
                            <div class="item">
                                <div class="client-text">
                                    <p>Nosotros usamos Tyrex por los últimos 3 años, el servicio es de primera y los precios no se pueden igualar. Totalmente los recomiendo.</p>
                                    <h4><strong>Alessandro Fumai, </strong><i>Cliente Satisfecho</i></h4>
                                </div>
                                <div class="client-face wow fadeInRight" data-wow-delay=".9s">
                                    <img src="assets/img/client-face1.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="client-text">
                                    <p>Usualmente no escribo comentarios, pero me vi en la obligación de hacerlo con Tyrex. Ellos han tenido todo lo que necesitaba y además recibí un mejor auto del que esperaba. El precio sin igual y agradezco mucho la atención y el servicio a mi y mi esposa. Definitivamente los recomiendo y no puedo esperar a mis próximas vacaciones para volver a alquilar con ellos</p>
                                    <h4><strong>Mike Richards, </strong><i>Cliente Satisfecho</i></h4>
                                </div>
                                <div class="client-face">
                                    <img src="assets/img/client-face2.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="client-text">
                                    <p>Tenemos más de un año rentando con Tyrex y siempre hemos recibido buen servicio, asesoría y muy dispuesto en ayudar respecto al uso del carro y las leyes de Florida. Ya lo he recomendado a familiares y amigos y han quedado igual de satisfecho con todo!!!</p>
                                    <h4><strong>Juan Centeno, </strong><i>Cliente Satisfecho</i></h4>
                                </div>
                                <div class="client-face">
                                    <img src="assets/img/client-face1.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="client-text">
                                    <p>Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !</p>
                                    <h4><strong>Ohidul Islam, </strong><i>Web Designer</i></h4>
                                </div>
                                <div class="client-face">
                                    <img src="assets/img/client-face2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- boy-sale area -->
    <div class="boy-sale-area">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0 col-xs-12">
                    <div class="asks-first">
                        <div class="asks-first-circle">
                            <span class="fa fa-search"></span>
                        </div>
                        <div class="asks-first-info">
                            <h2>Buscando Autos económicos?</h2>
                            <p> Ingresa ya tu información de contacto y conoce toda nuestras ofertas.</p>
                        </div>
                        <div class="asks-first-arrow">
                            <a href="properties.html"><span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-10 col-sm-offset-1 col-xs-12 col-md-offset-0">
                    <div class="asks-first">
                        <div class="asks-first-circle">
                            <span class="fa fa-usd"></span>
                        </div>
                        <div class="asks-first-info">
                            <h2>Alguna Opcion Economica?</h2>
                            <p> Ingresa ya tu información de contacto y conoce toda nuestras ofertas.</p>
                        </div>
                        <div class="asks-first-arrow">
                            <a href="properties.html"><span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p class="asks-call">DUDAS? LLAMANOS  : <span class="strong"> + 1 305-590-8024</span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer area-->
    <div class="footer-area">

        <div class=" footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>NOSOTROS</h4>
                            <div class="footer-title-line"></div>

                            <img src="assets/img/footer-logo.png" alt="" class="wow pulse" data-wow-delay="1s">
                            <p>Conoce Nuestras Oficinas.</p>
                            <ul class="footer-adress">
                                <li><i class="pe-7s-map-marker strong"> </i> 782 NW 42nd Ave # 4 Miami Fl, 33126 United States </li>
                                <li><i class="pe-7s-mail strong"> </i> info@tyrexrentacar.com </li>
                                <li><i class="pe-7s-call strong"> </i> + 1 305-590-8024</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated">

                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>Información</h4>
                            <div class="footer-title-line"></div>
                            <ul class="footer-blog">
                                <li>
                                    <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                        <a href="#">
                                            <img src="assets/img/demo/small-proerty-2.jpg">
                                        </a>
                                        <span class="blg-date">12-12-2016</span>

                                    </div>
                                    <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                        <h6> <a href="#">Add news functions </a></h6>
                                        <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                        <a href="#">
                                            <img src="assets/img/demo/small-proerty-2.jpg">
                                        </a>
                                        <span class="blg-date">12-12-2016</span>

                                    </div>
                                    <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                        <h6> <a href="#">Add news functions </a></h6>
                                        <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                        <a href="single.html">
                                            <img src="assets/img/demo/small-proerty-2.jpg">
                                        </a>
                                        <span class="blg-date">12-12-2016</span>

                                    </div>
                                    <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                        <h6> <a href="#">Add news functions </a></h6>
                                        <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                        <div class="single-footer news-letter">
                            <h4>Conectate</h4>
                            <div class="footer-title-line"></div>
                            <p>Envianos tu correo y mantente actualizado de nuestras ofertas.</p>

                            <form>
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="E-mail ... ">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </form>

                            <div class="social pull-right">
                                <ul>
                                    <li><a class="wow fadeInUp animated" href="https://twitter.com/kimarotec"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="wow fadeInUp animated" href="https://www.facebook.com/kimarotec" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="wow fadeInUp animated" href="https://plus.google.com/kimarotec" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                    <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-copy text-center">
            <div class="container">
                <div class="row">
                    <div class="pull-left">
                        <span> (C) <a href="#">Tyrex</a> , All rights reserved 2018  </span>
                    </div>
                    <div class="bottom-menu pull-right">
                        <ul>
                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Inicio</a></li>
                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Tyrex</a></li>
                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Servicios</a></li>
                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Vehiculos</a></li>
                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Ubicación</a></li>
                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="assets/js/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/bootstrap-hover-dropdown.js"></script>
    <script src="assets/js/easypiechart.min.js"></script>
    <script src="assets/js/jquery.easypiechart.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/icheck.min.js"></script>
    <script src="assets/js/price-range.js"></script>
    <script src="assets/js/main.js"></script>


    <script type="text/javascript" src="assets/datepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>


</body>

<script type="text/javascript">
    $('#datetimepicker1').datetimepicker({
        language: 'ES',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('#datetimepicker2').datetimepicker({
        language: 'ES',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
</script>

</html>